.dashboard {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  .dashboard h2 {
    color: #333;
    font-size: 24px;
    margin: 0;
  }
  
  .dashboard p {
    color: #666;
    font-size: 16px;
    margin: 10px 0;
  }
  
  .dashboard-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .dashboard-options a {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .dashboard-options a:hover {
    background-color: #0056b3;
  }
  
  .dashboard a:last-child {
    background-color: #dc3545;
  }
  
  .dashboard a:last-child:hover {
    background-color: #a21f2c;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .dashboard {
      max-width: 100%;
    }
  }
  